{% extends "base.html" %}

{% block main %}
    <div id="map" style="height: 450px;"></div>
{% endblock %}

{% block side %}
    <h2>Controls</h2>
    <div class="form-group">
        <label class="control-label" for="user">User</label>
        <input class="form-control" type="text" readonly id="user" value="{{ user.id }}" />
    </div>
    <div class="form-group">
        <label class="control-label" for="share">Share</label>
        <button class="form-control btn btn-info" id="share">Get a Link</button>
        <br /><br />
        <div style="text-align: center; display: none;" id="shareMessage">Copied to Clipboard!</div>
    </div>
    <input class="form-control" style="display: none;" type="text" readonly id="shareUrl" value="{{ share.url }}" readonly />
{% endblock %}

{% block extrajs %}
    <script src="/site/client.js" type='text/javascript'></script>
    <script src='http://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMap' type='text/javascript' async defer></script>
    <script type="text/javascript">
        var loadMap = function () {
            var map = new Microsoft.Maps.Map(document.getElementById("map"), {
                credentials: "{{ config.keys.BingMapsApi }}",
                navigationBarMode: Microsoft.Maps.NavigationBarMode.compact
            });

            map.setView({
                mapTypeId: Microsoft.Maps.MapTypeId.road,
                center: new Microsoft.Maps.Location(parseFloat("{{ config.defaultMapView.location.latitude }}"), parseFloat("{{ config.defaultMapView.location.longitude }}")),
                zoom: parseInt("{{ config.defaultMapView.zoom }}")
            });

            Client.Share("{{ user.id }}", map);
        };
    </script>
{% endblock %}
